.page {
  background-image: url("/meteor.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: white;
  gap: 25px;
  /* padding: 0 50px; */
}
.landing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("/bg_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0 15%;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 1rem;
  color: #fff;
  /* padding: 10px 50px; */
  margin: 10px auto;
  position: absolute;
  top: 10px;
  right: 15%;
}
.header_text {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
  max-width: 50vw;
}
.sub_Title {
  font-size: 1.5rem;
  margin: 0;
}
.button_container {
  display: flex;
  gap: 20px;
}
.button {
  all: unset;
  padding: 8px 30px;
  border-radius: 15px;
  outline: 1px solid #d27338;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.socials {
  display: flex;
  gap: 30px;
}
.social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.projects {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 0 15%;
  padding-bottom: 50px;
}
.project_links{
  display: flex;
  gap: 10px;
  font-size: 1rem;
}
.project_header_text {
  color: #d27338;
  display: flex;
  align-items: flex-start;
  font-size: 2rem;
  padding: 20px 0;
  font-weight: bold;
  margin: 0;
  max-width: 50vw;
  text-align: left;
}
.projects_subtitle {
  font-size: 1rem;
  padding-bottom: 20px;
}
.projects_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.project_item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 40px;
}
.project_description {
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.project_technologies {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.project_features {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 10 0;
  margin: 0;
}
.opensource{
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 50px 0 25px;
  padding: 0 15%;
  padding-bottom: 50px;
}
.opensource_header_text {
  color: #d27338;
  display: flex;
  align-items: flex-start;
  font-size: 1.8rem;
  padding: 20px 0;
  font-weight: bold;
  margin: 0;
  max-width: 50vw;
  text-align: left;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: #fff;
  padding: 50px 15%;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skills_list {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about_header_text {
  font-size: 2rem;
  font-weight: bold;
}
.skill_item {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 10px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: #fff;
  padding: 50px 15%;
}
.contact_socials {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 30px;
}
.span_color {
  color: #d27338;
}
.footer {
  color: #fff;
  text-align: center;
  padding: 20px;
}
@media (max-width: 768px) {
  .landing {
    padding: 0 50px;
  }
  .nav {
    right: 50px;
    align-items: center;
    justify-content: center;
  }
  .projects {
    padding: 0 50px;
  }
  .about {
    padding: 50px;
  }
  .contact {
    padding: 0 50px;
  }
  .footer {
    padding: 50px;
  }
  .project_item{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .opensource{
    padding: 0 50px;
  }
}
@media (max-width: 480px) {
  .nav {
    top: 0;
    left: 50px;
  }

}
