.page {
  /* background-image: url("/meteor.svg"); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M581 171L955 545' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M612 312L873 573' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M280 197L-88 -171' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M233 117L20 -96' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M721 499L1015 793' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1210 103L930 -177' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M879 257L555 -67' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1375 282L971 -122' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M668 145L944 421' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M921 286L564 -71' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M654 377L287 10' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M696 299L1026 629' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M808 67L978 237' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M614 164L1016 566' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1377 492L1631 746' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1376 242L1754 620' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M545 246L795 496' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M42 376L233 567' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M291 75L593 377' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M160 209L508 557' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M94 287L-288 -95' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M485 396L771 682' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M992 370L1349 727' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1229 558L1544 873' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M288 517L523 752' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M904 331L718 145' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M866 536L569 239' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M246 440L-47 147' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M114 67L-248 -295' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M218 137L490 409' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M84 70L435 421' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1036 513L1215 692' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M99 133L-157 -123' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M632 335L825 528' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M859 257L1192 590' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M613 68L278 -267' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1034 378L766 110' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M455 539L211 295' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1124 429L795 100' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1001'%3e%3cstop stop-color='rgba(2%2c 18%2c 33%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(2%2c 18%2c 33%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1002'%3e%3cstop stop-color='rgba(26%2c 11%2c 1%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(26%2c 11%2c 1%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='rgba(2%2c 18%2c 33%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(2%2c 18%2c 33%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1004'%3e%3cstop stop-color='rgba(26%2c 11%2c 1%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(26%2c 11%2c 1%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: white;
  gap: 25px;
  /* padding: 0 50px; */
}
.landing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("/bg_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0 15%;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 1rem;
  color: #fff;
  /* padding: 10px 50px; */
  margin: 10px auto;
  position: absolute;
  top: 10px;
  right: 15%;
}
.header_text {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
  max-width: 50vw;
}
.sub_Title {
  font-size: 1.5rem;
  margin: 0;
}
.button_container {
  display: flex;
  gap: 20px;
}
.button {
  all: unset;
  padding: 8px 30px;
  border-radius: 15px;
  outline: 1px solid #d27338;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.socials {
  display: flex;
  gap: 30px;
}
.social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.projects {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 0 15%;
  padding-bottom: 50px;
}
.project_links {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}
.project_header_text {
  color: #d27338;
  display: flex;
  align-items: flex-start;
  font-size: 2rem;
  padding: 20px 0;
  font-weight: bold;
  margin: 0;
  max-width: 50vw;
  text-align: left;
}
.projects_subtitle {
  font-size: 1rem;
  padding-bottom: 20px;
}
.projects_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.project_item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 40px;
}
.project_description {
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.project_technologies {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.project_features {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 10 0;
  margin: 0;
}
.opensource {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 50px 0 25px;
  padding: 0 15%;
  padding-bottom: 50px;
}
.opensource_header_text {
  color: #d27338;
  display: flex;
  align-items: flex-start;
  font-size: 1.8rem;
  padding: 20px 0;
  font-weight: bold;
  margin: 0;
  max-width: 50vw;
  text-align: left;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: #fff;
  padding: 50px 15%;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skills_list {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about_header_text {
  font-size: 2rem;
  font-weight: bold;
}
.skill_item {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 10px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: #fff;
  padding: 50px 15%;
}
.contact_socials {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 30px;
}
.span_color {
  color: #d27338;
}
.footer {
  color: #fff;
  text-align: center;
  padding: 20px;
}
@media (max-width: 768px) {
  .landing {
    padding: 0 50px;
  }
  .nav {
    right: 50px;
    align-items: center;
    justify-content: center;
  }
  .projects {
    padding: 0 50px;
  }
  .about {
    padding: 50px;
  }
  .contact {
    padding: 0 50px;
  }
  .footer {
    padding: 50px;
  }
  .project_item {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .opensource {
    padding: 0 50px;
  }
}
@media (max-width: 480px) {
  .nav {
    top: 0;
    left: 50px;
  }
}
